<DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>SAY HELLO</title>
		<link rel="stylesheet" href="{{url_for('static',filename='Css/main.css')}}"
	</head>
	<body>
		<img src="https://raw.githubusercontent.com/MariyaSha/SimpleGreetingApp/main/logo.png">
		<br>
		<form action="greet" method="POST">
			{% for message in  get_flashed_messages()%}
				<p> {{message}} </p>
			{% endfor %}
			<br>
			<input type="text" name="name_input">
			<br>
			<input type="submit" value="GREET" id="greet">
		</form>
	</body>
</html>